<html>
  <head>
    <meta name="Description" content="Conversations for the record.  Free and simple diablog hosting." />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title><%= "Diablogger#{@page_ttl.blank? ? '': " | #{@page_ttl}"}" -%></title>
    <%= javascript_include_tag 'common', :cache => "common_cache" %>
    <%= javascript_include_tag "views/#{params[:controller]}" %>
    <%= stylesheet_link_tag 'common', :cache => "common_cache" %>
  </head>
  <body id="body"></body>
  <%= yield %>
  <script type="text/javascript">
    window.onload = function(){
      document.getElementById('body').innerHTML = templates.layouts.public( templates.<%= params[:controller] %>.<%= params[:action] %>() );
    };
  </script>
</html>
